.hidden{
	display: none;
}

.range {
	width: calc(100% - 37px) !important;
	margin-right: 2px;
    float:left;
}

.category-check {
    margin-top: 10px;
    padding: 0 10px;
}

.category-check h5 {
    font-family: 'OpenSans-Semibold';
    color: #444;
    font-size: 10pt;
    line-height: 34px;
    /*display: inline-block;*/
}

.category-check input {
    /*display: inline-block;*/
    cursor: pointer;
    position: relative;
    left: -4px;
    bottom: -2px;
    margin-left: 15px;
    margin-bottom: 15px;
    color: #fff;
}

