.search-form {
	width: 100%;
	/*height: 300px;*/
	background-color: #008abc;
	position: relative;
}

.form {
	width: 190px;
	padding: 10px;
	padding-top: 20px;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	line-height: 20px;
}

.search-form h3 {
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	background-size: cover;
}

.search-form input[type='text'] {
	height: 30px;
	width: 170px;
	border: 0;
	outline: 0;
	line-height: 30px;
	padding: 0 10px;
}

.category-select {
	margin-top: 10px;
	padding: 0 10px;
}

.category-select p {
	font-family: 'OpenSans-Bold';
	margin-left: -10px;
	color: #fff;
}

.category-select input {
	display: none;
}

.category-select label {
	display: block;
	cursor: pointer;
	position: relative;
	margin-left: 15px;
	color: #fff;
}

.category-select label:before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	left: -15px;
	top: 5px;
	background-color: #fff;
	-webkit-transition: all 0.2;
	-o-transition: all 0.2;
	transition: all 0.2;
}
/*.category-select label:hover:before {
	border: 1px solid #f36916;
}
.category-select input:checked + label:before {
	border: 5px solid #f36916;
}*/

.category-select label:after {
	position: absolute;
	content: "";
	width: 6px;
	height: 6px;
	left: -13px;
	top: 7px;
	background-color: #f36916;
	display: none;
}

.category-select input:checked + label:after {
	display: block;
}
.disc-range {
	margin-bottom: 20px;
	margin-top: 10px;
}
.disc-range p {
	color: #fff;
	display: inline-block;
	font-family: 'OpenSans-Bold';
	margin-right: 5px;
}
#range-diskon {
	display: inline-block;
	background-color: transparent;
	width: 70px;
	text-align: right;
	padding: 0;
	line-height: 15px;
	height: 15px;
	color: #fff;
}
#discount_range {
	margin-left: 8px;
	margin-top: 5px;
	margin-right: 5px;
}
.ui-slider-range.ui-widget-header {
	background-color: #f36916;
	background-image: none;
}

.search-form button[type='submit'] {
	height: 40px;
	width: 190px;
	background-color: #00afee;
	color: #fff;
	border: none;
	/*position: absolute;*/
	margin-left: -10px;
	/*margin-top: 20px;*/
	margin-bottom: -10px;
	font-family: 'OpenSans-Bold';
}

.result-bar {
	width: 100%;
	height: 50px;
	background-color: #00afee;
	margin-bottom: 10px;
	color: #fff;
	line-height: 50px;
	padding-left: 20px;
	background-size: cover;
	position: relative;
}

.result-bar h3 input {
	display: none;
}
.result-bar h3 label {
	display: inline-block;
	line-height: 30px;
	padding: 0 10px;
	cursor: pointer;
}
.result-bar h3 input:checked + label {
	background-color: #008abc;
}

.sort-by {
	position: absolute;
	right: 160px;
	top: 0;
}
.sort-by h4 {
	display: inline-block;
	margin-right: 5px;
}
.sort-by select {
	display: inline-block;
	width: 140px;
	height: 30px;
	border: 0;
	background-color: #008abc;
	cursor: pointer;
	padding: 0 5px;
	outline: 0;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort-by select option {
	background-color: #fff;
	color: #393939;
}
.display-selector {
	position: absolute;
	right: 10px;
	width: 130px;
	top: 0;
	text-align: right;
}
.display-selector input {
	display: none;
}
.display-selector label {
	display: inline-block;
	line-height: 30px;
	padding: 0 10px;
	cursor: pointer;
}
.display-selector input:checked + label {
	background-color: #008abc;
}
.result-gallery {
	width: 100%;
	overflow-y: auto;
}

.promo {
	width: 240px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	-webkit-transition: border 0.2s;
	-o-transition: border 0.2s;
	transition: border 0.2s;
	position: relative;
	float: left;
	margin-right: 10px;
	height: 430px;
}
.promo:nth-child(4n+4) {
	margin-right: 0;
}
.promo:hover {
	border: 1px solid #00afee;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.promo h4 {
	position: absolute;
	padding-left: 10px;
	margin-top: -20px;
	font-size: 16px;
	color: #f36916;
}

.list .promo h4 {
	left: 250px;
}

.list .promo {
	width: 100%;
	height: 240px;
}
.promo-image {
	position: relative;
}
.list .promo-image {
	width: 240px;
	height: 240px;
	float: left;
	margin-right: 20px;
}
.promo-image img {
	width: 100%;
	height: 240px;
}
.promo-disc {
	background-color: #f36916;
	color: #fff;
	font-family: 'Gidole';
	position: absolute;
	bottom: 20px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 15pt;
	border-top-right-radius: 22.5px;
	border-bottom-right-radius: 22.5px;
}
.list .promo-disc {
	top: 15px;
	/*margin-left: 260px;*/
	bottom: auto;
}
.promo-name {
	padding: 5px 10px;
	font-family: 'Futura';
	color: #0e3b50;
	font-size: 16pt;
	line-height: 20px;
	height: 53px;
}
.list .promo-name {
	margin-top: 55px;
	font-size: 20pt;
	width: 800px;
	margin-bottom: 10px;
}
.promo > p {
	padding: 10px;
	font-family: 'OpenSans-Regular';
	color: #393939;
	font-size: 10pt;
	display: none;
}
.list .promo > p {
	display: block;
	width: 760px;
}
.promo-detail {
	/*margin-top: 10px;*/
	height: 110px;
	/*background-color: #eee;*/
}
.list .promo-detail {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	height: 100%;
}

.promo-store-logo {
	width: 100%;
	float: left;
	/*height: 100%;*/
	display: table-cell;
	vertical-align: middle;
	line-height: 64px;
	padding: 5px 0px 2px 0px;
	text-align: center;
}
.promo-store-logo img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.list .promo-store-logo {
	line-height: normal;
	padding: 10px 20px 20px;
	display: block;
	width: 100%;
	height: 110px;
	float: none;
	position: absolute;
	bottom: 0;
}
.promo-price {
	width: 50%;
	float: right;
	height: 100%;
	padding: 17px 10px 17px 0;
}
.promo-price span {
	display: none;
}
.list .promo-price span {
	display: inline;
}
.list .promo-price {
	width: 100%;
	padding-right: 20px;
	float: none;
}

/**/
.product {
	width: 240px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	-webkit-transition: border 0.2s;
	-o-transition: border 0.2s;
	transition: border 0.2s;
	position: relative;
	float: left;
	margin-right: 10px;
	height: 380px;
}
.product:nth-child(4n+4) {
	margin-right: 0;
}
.product:hover {
	border: 1px solid #00afee;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.product h4 {
	position: absolute;
	padding-left: 10px;
	margin-top: -20px;
	font-size: 16px;
	color: #f36916;
}

.list .product h4 {
	left: 250px;
}

.list .product {
	width: 100%;
	height: 240px;
}
.product-image {
	position: relative;
}
.list .product-image {
	width: 240px;
	height: 240px;
	float: left;
	margin-right: 20px;
}
.product-image img {
	width: 100%;
	height: 240px;
}
.product-disc {
	background-color: #f36916;
	color: #fff;
	font-family: 'Gidole';
	position: absolute;
	bottom: 20px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 15pt;
	border-top-right-radius: 22.5px;
	border-bottom-right-radius: 22.5px;
}
.list .product-disc {
	top: 15px;
	/*margin-left: 260px;*/
	bottom: auto;
}
.product-name {
	padding: 5px 10px;
	font-family: 'Futura';
	color: #0e3b50;
	font-size: 16pt;
	line-height: 20px;
	height: 53px;
}
.list .product-name {
	margin-top: 55px;
	font-size: 20pt;
	width: 800px;
	margin-bottom: 10px;
}
.product > p {
	padding: 10px;
	font-family: 'OpenSans-Regular';
	color: #393939;
	font-size: 10pt;
	display: none;
}
.list .product > p {
	display: block;
	width: 760px;
}
.product-detail {
	margin-top: 10px;
	height: 74px;
	background-color: #eee;
}
.list .product-detail {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	height: 100%;
}
.store-logo {
	width: 50%;
	float: left;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	line-height: 64px;
	padding: 5px 0 5px 10px;
	text-align: center;
}
.store-logo img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.list .store-logo {
	line-height: normal;
	padding: 10px 20px 20px;
	display: block;
	width: 100%;
	height: 110px;
	float: none;
	position: absolute;
	bottom: 0;
}
.product-price {
	width: 50%;
	float: right;
	height: 100%;
	padding: 17px 10px 17px 0;
}
.product-price span {
	display: none;
}
.list .product-price span {
	display: inline;
}
.list .product-price {
	width: 100%;
	padding-right: 20px;
	float: none;
}

.up-to {
	color: #999;
	text-align: right;
	font-size: 11pt;
	font-family: 'OpenSans-Regular';
	line-height: 20px;
}
.list .up-to {
	font-size: 14pt;
	line-height: 25px;
	line-height: 18px;
}

.old-price {
	color: #999;
	text-decoration: line-through;
	text-align: right;
	font-size: 8pt;
	font-family: 'OpenSans-Regular';
	line-height: 20px;
}
.list .old-price {
	font-size: 11pt;
	line-height: 25px;
	line-height: 18px;
}
.new-price {
	line-height: 20px;
	color: #f36916;
	font-family: 'Gidole';
	font-size: 13pt;
	text-align: right;
}
.list .new-price {
	font-size: 24pt;
	line-height: 30px;
	font-family: 'SourceSansPro-Light';
	margin-right: -2px;
}
.hemat {
	text-align: right;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	color: #999;
	margin-top: 10px;
	display: none;
}
.list .hemat {
	display: block;
}

.no-result {
	width: 100%;
	height: 220px;
	background-color: #eee;
}

.no-result h1 {
	text-align: center;
	color: #aaa;
	line-height: 210px
}

.result-paging {
	width: 100%;
	height: 60px;
	clear: both;
	position: relative;
	background-color: #fff;
}
.result-paging h4 {
	width: 100%;
	line-height: 60px;
	cursor: pointer;
	font-family: 'OpenSans-Regular';
	color: #f36916;
	font-size: 14pt;
	text-align: center;
}

.page-numbers {
	height: 30px;
}
.page-numbers span {
	width: 30px;
	height: 30px;
	border-radius: 2px;
	border: 1px solid #ccc;
	background-color: #eee;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	font-size: 12pt;
	cursor: pointer;
}
.page-numbers span:hover {
	color: #f36916;
}
.page-numbers span.active {
	background-color: #f36916;
	border: 1px solid #f36916;
	color: #fff;
}
.page-switch {
	height: 30px;
	top: 15px;
	position: absolute;
	right: 15px;
}
.page-switch span {
	display: inline-block;
	background-color: #f36916;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 2px;
	color: #fff;
} 
.page-switch span.inactive {
	opacity: 0.5;
}

.hidden{
	display: none;
}