.banner-wrapper {
	overflow-y: hidden; 
	background-color: #fff;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	position: relative;
}
.all-item {
	width: 150px;
	height: 80px;
	background-color: #f36916;
	color: #fff;
	text-align: center;
	position: absolute;
	padding-top: 30px;
	padding-right: 10px;
	line-height: 20px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -20px;
	left: -50px;
	font-family: 'OpenSans-Bold';
	font-size: 14pt;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.banner-left {
	width: 240px;
	height: 100%;
	background-color: #ccc;
	display: table-cell;
	background-size: cover;
	padding: 10px;
}
.image-wrapper {
	width: 220px;
	height: 220px;
	background-color: #ccc;
	float: left;
	background-size: cover;
	margin-bottom: 10px;
	border: 5px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}
.banner-left h4 {
	text-align: center;
	color: #fff;
	font-family: 'OpenSans-Regular';
}
.banner-left h4 span {
	font-family: 'OpenSans-Bold';
}
.banner-desc {
	position: relative;
	display: table-cell;
	width: 498px;
	vertical-align: top;
	padding-bottom: 75px;
}

.banner-desc .view{
	color: #999;
	padding: 0 5px;
}

.banner-desc .promo-title {
	font-family: "Futura";
	line-height: 30px;
	padding: 10px 20px;
	font-size: 24pt;
	color: #f68121;
	margin-top: 10px;
}
.banner-desc .promo-desc {
	font-family: "OpenSans-Regular";
	font-size: 10pt;
	color: #393939;
	padding: 10px 20px;
}
.banner-footer {
	background-color: #eee;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 15px;
	line-height: 50px;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
}
.banner-footer span {
	font-family: 'OpenSans-Bold';
	color: #f68121;
}

.banner-footer .sharer {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	text-align: right;
	padding: 10px;
	width: 200px;
	line-height: 30px;
}
.banner-footer .sharer a {
	display: inline-block;
	height: 30px;
	color: #fff;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
.banner-footer .sharer a i.fa {
	display: inline-block;
	margin-right: 5px; 
}
.banner-footer .sharer a.fb-share {
	background-color: #3b5998;
}
.banner-footer .sharer a.tw-share {
	background-color: #55acee;
}
.result-bar {
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-color: #00afee;
	margin-bottom: 10px;
	color: #fff;
	line-height: 50px;
	padding-left: 20px;
	background-size: cover;
	position: relative;
}
.sort-by {
	position: absolute;
	right: 160px;
	top: 0;
}
.sort-by h4 {
	display: inline-block;
	margin-right: 5px;
}
.sort-by select {
	display: inline-block;
	width: 140px;
	height: 30px;
	border: 0;
	background-color: #008abc;
	cursor: pointer;
	padding: 0 5px;
	outline: 0;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort-by select option {
	background-color: #fff;
	color: #393939;
}
.display-selector {
	position: absolute;
	right: 10px;
	width: 130px;
	top: 0;
	text-align: right;
}
.display-selector input {
	display: none;
}
.display-selector label {
	display: inline-block;
	line-height: 30px;
	padding: 0 10px;
	cursor: pointer;
}
.display-selector input:checked + label {
	background-color: #008abc;
}
.result-gallery {
	width: 100%;
	overflow-y: auto;
}
.product {
	width: 240px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	-webkit-transition: border 0.2s;
	-o-transition: border 0.2s;
	transition: border 0.2s;
	position: relative;
	float: left;
	margin-right: 10px;
}
.product:nth-child(3n+3) {
	margin-right: 0;
}
.product:hover {
	border: 1px solid #00afee;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.list .product {
	width: 100%;
	height: 200px;
}
.product-image {
	padding: 10px 10px 0;
	position: relative;
}
.list .product-image {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	padding: 10px;
}
.product-image img {
	width: 100%;
}
.product-name {
	padding: 5px 10px;
	font-family: 'Futura';
	color: #0e3b50;
	font-size: 16pt;
	line-height: 20px;
	height: 53px;
}
.list .product-name {
	margin-top: 15px;
	font-size: 16pt;
	width: 500px;
	margin-bottom: 0px;
	line-height: 25px;
}
.product > p {
	padding: 10px;
	font-family: 'OpenSans-Regular';
	color: #393939;
	font-size: 10pt;
	display: none;
}
.list .product > p {
	display: block;
	width: 500px;
	margin-top: 0px;
}
.product-detail {
	margin-top: 10px;
	height: 74px;
	background-color: #eee;
}
.list .product-detail {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	padding-top: 85px;
	height: 100%;
}
.product-disc {
	background-color: #f36916;
	color: #fff;
	font-family: 'Gidole';
	position: absolute;
	bottom: 15px;
	line-height: 45px;
	padding: 0 5px;
	font-size: 20pt;
	white-space: nowrap;
	width: 80px;
	height: 45px;
	border-top-right-radius: 22.5px;
	border-bottom-right-radius: 22.5px;
}
.product-disc.extended {
	font-size: 14pt;
	line-height: 17.5px;
	padding-top: 5px;
	padding-left: 10px;
}
.list .product-disc {
	top: 15px;
	right: 0;
	bottom: auto;
	z-index: 10;
	height: 60px;
	width: 100px;
	line-height: 60px;
	font-size: 24pt;
	text-align: right;
	padding-right: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.list .product-disc.extended {
	font-size: 18pt;
	line-height: 25px;
}
.product-price {
	width: 70%;
	float: right;
	height: 100%;
	padding: 17px 10px 17px 0;
}
.product-price span {
	display: none;
}
.list .product-price span {
	display: inline;
}
.list .product-price {
	width: 100%;
	padding-right: 20px;
	float: none;
}
.old-price {
	color: #999;
	text-decoration: line-through;
	text-align: right;
	font-size: 11pt;
	font-family: 'OpenSans-Regular';
	line-height: 20px;
}
.list .old-price {
	font-size: 14pt;
	line-height: 25px;
	line-height: 18px;
}
.new-price {
	line-height: 20px;
	color: #f36916;
	font-family: 'Gidole';
	font-size: 18pt;
	text-align: right;
}
.list .new-price {
	font-size: 24pt;
	line-height: 30px;
	font-family: 'SourceSansPro-Light';
	margin-right: -2px;
}
.hemat {
	text-align: right;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	color: #999;
	margin-top: 10px;
	display: none;
}
.list .hemat {
	display: block;
}
.result-paging {
	width: 100%;
	padding: 15px;
	height: 60px;
	position: relative;
	background-color: #fff;
}
.page-numbers {
	height: 30px;
}
.page-numbers span {
	width: 30px;
	height: 30px;
	border-radius: 2px;
	border: 1px solid #ccc;
	background-color: #eee;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	font-size: 12pt;
	cursor: pointer;
}
.page-numbers span:hover {
	color: #f36916;
}
.page-numbers span.active {
	background-color: #f36916;
	border: 1px solid #f36916;
	color: #fff;
}
.page-switch {
	height: 30px;
	top: 15px;
	position: absolute;
	right: 15px;
}
.page-switch span {
	display: inline-block;
	background-color: #f36916;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 2px;
	color: #fff;
} 
.page-switch span.inactive {
	opacity: 0.5;
}
.map-wrapper {
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	-webkit-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}
.map-wrapper:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.map {
	height: 240px;
	background-color: #ccc;
}
.address {
	background-color: #fff;
}
.address-name {
	height: 128px;
	width: 100%;
	position: relative;
}
.address-name h3 {
	font-size: 24pt;
	font-family: 'Futura';
	color: #f68121;
	left: 15px;
	position: absolute;
	bottom: 15px;
}
.logo-wrapper {
	height: 128px;
	width: 196px;
	padding: 15px 5px;
	float: right;
}
.logo-wrapper img {
	float: right;
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.address-description h5 {
	padding: 20px;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	background-color: #eee;
	color: #999;
}