/*
===================================
Copyright INNCOMEDIA
===================================

orange : #f68121
orange alt : #f36916
biru   : #00afee
biru alt : #0e3b50
item   : #393939
abu2   : #d6d6d6
*/

/* import font */
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../font/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../font/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../font/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Gidole';
	src: url('../font/Gidole-Regular.ttf');
	src: url('../font/Gidole-Regular.otf') format('opentype'),
		 url('../font/Gidole-Regular.woff') format('woff'),
		 url('../font/Gidole-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'ClearSans-Regular';
    src: url('../font/ClearSans-Regular.eot');
    src: url('../font/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/ClearSans-Regular.woff') format('woff'),
         url('../font/ClearSans-Regular.ttf') format('truetype'),
         url('../font/ClearSans-Regular.svg#ClearSans-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../font/ClearSans-Bold.eot');
    src: url('../font/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/ClearSans-Bold.woff') format('woff'),
         url('../font/ClearSans-Bold.ttf') format('truetype'),
         url('../font/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'Futura';
	src:url('../font/futura-condensed-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSansPro-Light';
	src:url('../font/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src:url('../font/SourceSansPro-Regular.ttf') format('truetype');
}

/*=== NORMALISASI begin ===*/
/* normalisasi digunakan untuk mereset CSS, sehingga akan menyamakan tampilan di semua browser */
*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
    font-family: 'Gidole', sans-serif;
    color: #2c2f34;
    font-size: 11pt;
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
    min-width: 1280px;
}
body {
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:hover,
a:visited,
a:link {
    outline: 0 !important;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -moz-box-sizing: content-box;
             box-sizing: content-box;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
                    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
/*=== NORMALISASI end ===*/


/*=== GLOBAL STYLE begin ===*/
.container {
    width: 1200px;
    margin: 0 auto;
}
/*.small-container {
    width: 940px;
    margin: 0 auto;
}
.small-container p {
    text-align: justify;
    font-size: 13pt;
    color: #404040;
}
@media (max-width: 1200px) {
    .container {
        width: 940px;
    }
}
@media (max-width: 990px) {
    .container,
    .small-container {
        width: 720px;
    }
}
@media (max-width: 768px) {
    .container,
    .small-container {
        width: 100%;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .small-container p {
        font-size: 11pt;
    }
}*/
.col-1,
.col-2,
.col-25,
.col-3,
.col-4,
.col-45,
.col-5,
.col-6,
.col-7,
.col-75,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 5px;
    float: left;
}
.col-2 {
    width: 16.6666666666666666666666667%;
}
.col-25 {
    width: 20.8333333333333333333333333%;
}
.col-3 {
	width: 25%;
}
.col-4 {
    width: 33.3333333333333333333333333%;
}
.col-45 {
	width: 37.5%;
}
.col-5 {
	width: 41.6666666666666666666666667%;
}
.col-6 {
	width: 50%;
}
.col-75 {
	width: 62.5%;
}
.col-8 {
	width: 66.6666666666666666666666667%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.3333333333333333333333333%;
}
.col-12 {
	width: 100%;
}
.row {
	width: 100%;
    overflow-y: auto;
}
/*@media (max-width: 990px) {
    .col-4 {
        width: 50%;
    }
}
@media (max-width: 640px) {
    .col-4 {
        width: 100%;
    }
}*/
/*=== GLOBAL STYLE end ===*/

/*=== navigasi ===*/
nav {
	top: 0;
	margin: 0;
	width: 100%;
	height: 60px;
	background-color: #fff;
    border-bottom: 5px solid #f36916;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    position: fixed;
    z-index: 90;
    top: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
nav.expand {
    height: 80px;
}
.search-bar p {
    opacity: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.expand .search-bar p {
    opacity: 1;
}
.logo img {
    height: 45px;
    margin-top: 5px;
}
main {
	background-color: #e5e5e5;
	padding: 40px 0;
    margin-top: 60px;
}
footer {
	padding: 40px 0;
	width: 100%;
	height: 240px;
	background-color: #f68121;
	color: #fff;
	font-family: 'OpenSans-Regular';
    background-size: cover;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.footer-logo img {
    width: 200px;
}
.medsos-wrapper {
    margin: 5px 11px;
    right: -11px;
}
.medsos {
    float: right;
    padding: 5px 0px 0px 10px;
}
.medsos img {
    height: 35px;
}
.search-bar {
    position: relative;
    overflow: hidden;
    padding-right: 0;
}
#nav-search {
    width: 100%;
    height: 35px;
    margin: 10px 0 0;
    outline: 0;
    font-family: 'OpenSans-Regular';
    padding: 0 110px 0 10px;
    line-height: 35px;
    margin-bottom: 4px;
    border: 0;
    border-bottom: 1px solid #00afee;
    background-color: #e5e5e5;
}
#cari {
    height: 35px;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 2;
    width: 90px;
    border: 0;
    outline: 0;
    color: #fff;
    font-family: 'OpenSans-Light';
    font-size: 12pt;
    background: transparent;
    padding: 0;
}
#cari h4 {
    line-height: 35px;
    width: 100%;
    height: 100%;
    background-color: #00afee;
    -webkit-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -o-transform: translateX(90px);
    transform: translateX(90px);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#nav-search:focus ~ #cari h4 {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.suggestion {
    width: 595px;
    min-height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: -4px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    padding: 5px 0;
    display: none;
    position: fixed;
    z-index: 91;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.suggestion h4 {
    font-size: 11pt;
    padding: 0 10px;
    color: #999;
    margin-bottom: 5px;
}
.suggestion a {
    display: block;
    color: #f68121;
    font-family: 'OpenSans-Bold';
    padding: line-height: 20px;
    padding: 0 10px;
}
.suggestion p {
    padding: 0 10px;
    color: #999;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #eee;
    margin-bottom: -5px;
}
.suggestion p span {
    color: #00afee;
}
.nav-links {
    font-family: 'OpenSans-Regular';
    font-size: 9pt;
    clear: both;
}
.nav-links span {
    color: #999;
    margin-right: 10px;
}
.nav-links a {
    display: inline-block;
    margin-right: 10px;
}
.nav-links a:hover {
    color: #f36916;
}