.store {
	background-color: #fff;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-bottom: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	height: 540px;
}

.map {
	width: 100%;
	height: 400px;
	position: relative;
	background-color: #bbb;
	border-bottom: 1px solid #ccc;
}
.map-unlocker {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	cursor: pointer;
}

.store-info {
	position: relative;
	width: 100%;
	z-index: 1;
}

.store-logo-profil {
	margin-top: -100px;
	height: 212px;
	width: 412px;
	background-color: #fff;
	float: left;
	position: relative;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	vertical-align: center;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.store-logo-profil img {
	width: 400px;
	height: 200px;
	position: relative;
}

.store-name {
	height: 130px;
	padding-top: 10px;
	margin-bottom: 20px;
	color: #f68121;
	position: relative;
}

.store-name .view {
	position: absolute;
	/*right: 100px;*/
	right: 9%;
	bottom: 20px;
	color: #393939;
	font-size: 12px;
}

.store-name h2 {
	font-family: 'Futura';
	font-size: 28pt;
	line-height: 50px;
	margin-bottom: 10px;
}

.statistic {
	border: 1px solid #ccc;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	font-family: 'OpenSans-Regular';
	font-size: 11pt;
	color: #777;
	box-shadow: 0 0 5px rgba(0,0,0,.2) inset;
}

.statistic span {
	padding: 0 15px;
	display: inline-block;
	width: 140px;
	text-align: center;
	border-right: 1px solid #ccc;
}

.statistic span:last-child {
	border: 0;
}

.statistic span a {
	color: #00afee;
	font-family: 'OpenSans-Bold';
}

.store .col-45 {
	padding-left: 30px;
}

.store .col-75 {
	padding: 0 30px;
}
.sharer {
	position: absolute;
	right: 0;
	top: 20px;
	height: 90px;
	text-align: right;
	padding: 10px;
	width: 100px;
	line-height: 30px;
}
.sharer a {
	display: block;
	height: 30px;
	color: #fff;
	width: 80px;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0,0,0,.15)
}
.sharer a i.fa {
	display: inline-block;
	margin-right: 5px; 
}
.sharer a.fb-share {
	background-color: #3b5998;
}
.sharer a.tw-share {
	background-color: #55acee;
}

.store-detail {
	/*background-color: #eee;*/
}

.address,
.description {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	padding-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.address h3,
.description h3 {
	font-family: 'Futura';
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	line-height: 40px;
	padding: 0 15px;
	color: #f68121;
}

.address p,
.description p {
	font-family:'OpenSans-Regular';
	padding: 0 15px;
	margin-top: 15px;
}
.result-bar {
	width: 1199px;
	height: 50px;
	background-color: #00afee;
	margin-bottom: 2px;
	color: #fff;
	line-height: 50px;
	padding-left: 20px;
	background-size: cover;
	position: relative;
}
.result-bar h3 {
	height: 50px;
}
.result-bar h3 span {
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	font-family: 'Gidole';
	font-size: 20pt;
	vertical-align: top;
}
.result-bar h3 p {
	padding-top: 5px;
	line-height: 45px;
	display: inline-block;
	vertical-align: top;
}
.product-display {
	width: 100%;
	/*height: 200px;*/
	background-color: #fff;
}

.promo {
	background-color: #fff;
	/*height: 300px;*/
}

.promo img {
	width: 300px;
	height: 300px;
	position: absolute;
}

.promo-description {
	width: 880px;
	position: absolute;
	margin-top: 10px;
	margin-left: 320px;
	padding-right: 20px;
	font-size: 16px;
	font-family: 'OpenSans-Regular';
	text-align: justify;
	z-index: 3;
}

.promo-description a {
	color: #f36916;
}

.product-wrapper {
	z-index: 2;
}

.promo-group {
	margin-top: 40px;
	padding: 0 5px;
	overflow: visible;
}

.result-gallery {
	width: 100%;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,.15);
	background-color: #fff;
	overflow: hidden;
}

.promo-detail {
	width: 245px;
	float: left;
	height: 460px;
	background-color: #008abc;
	padding: 15px;
	background-size: cover;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	position: relative;
}

.promo-detail img {
	width: 100%;
	height: 215px;
	border: 5px solid #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	margin-bottom: 10px;
}

.promo-detail h3 {
	color: #fff;
	font-family: 'Futura';
	font-size: 18pt;
	line-height: 25px;
	text-align: center;
	margin-bottom: 5px;
}
.promo-detail p {
	color: #fff;
	text-align: center;
}
.promo-detail h4 {
	position: absolute;
	bottom: 15px;
	background-color: #fff;
	text-align: center;
	line-height: 36px;
	border-radius: 18px;
	width: 215px;
	font-family: 'OpenSans-Regular';
	color: #0e3b50;
	box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
}
.promo-detail h4 span {
	font-family: 'OpenSans-Bold';
	color: #00afee;
}

.wrapper-product {
	width: 940px;
	float: right;
	padding: 15px;
	height: 410px;
	position: relative;
}

.products-footer {
	height: 50px;
	width: 940px;
	float: right;
	background-color: #eee;
}

.products-footer p {
	color: #999;
	text-align: right;
	line-height: 50px;
	padding: 0 20px;
	font-family: 'OpenSans-Regular';
}

.products-footer p a {
	color: #f36916;
	display: inline-block;
	margin-left: 15px;
	font-family: 'OpenSans-Bold';
}

.product {
	width: 220px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	-webkit-transition: border 0.2s;
	-o-transition: border 0.2s;
	transition: border 0.2s;
	position: relative;
	height: 380px;
	margin-right: 10px;
}

.product:hover {
	border: 1px solid #00afee;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.product-image img {
	width: 100%;
	height: 240px;
}
.product-name {
	padding: 5px 10px;
	font-family: 'Futura';
	color: #0e3b50;
	font-size: 16pt;
	line-height: 20px;
	height: 53px;
}
.product > p {
	padding: 10px;
	font-family: 'OpenSans-Regular';
	color: #393939;
	font-size: 10pt;
	display: none;
}
.product-detail {
	margin-top: 10px;
	height: 74px;
	background-color: #eee;
}
.product-disc {
	background-color: #f36916;
	color: #fff;
	font-family: 'Gidole';
	position: absolute;
	bottom: 15px;
	line-height: 45px;
	padding: 0 5px;
	font-size: 20pt;
	white-space: nowrap;
	width: 80px;
	height: 45px;
	border-top-right-radius: 22.5px;
	border-bottom-right-radius: 22.5px;
}
.product-disc.extended {
	font-size: 14pt;
	line-height: 17.5px;
	padding-top: 5px;
	padding-left: 10px;
}
.product-price {
	width: 70%;
	float: right;
	height: 100%;
	padding: 17px 10px 17px 0;
}
.product-price span {
	display: none;
}
.old-price {
	color: #999;
	text-decoration: line-through;
	text-align: right;
	font-size: 11pt;
	font-family: 'OpenSans-Regular';
	line-height: 20px;
}
.new-price {
	line-height: 20px;
	color: #f36916;
	font-family: 'Gidole';
	font-size: 14pt;
	text-align: right;
}
.hemat {
	text-align: right;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	color: #999;
	margin-top: 10px;
	display: none;
}

/* no product */
.no-product .promo-detail {
	height: 490px;
	width: 490px;
}

.promo-desc {
	width: 697px;
	height: 490px;
	float: right;
}

.promo-desc .head {
	width: 100%;
	border-bottom: 3px solid #f68121;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: #eee;
	padding: 20px;
	position: relative;
}

.promo-desc .head h3 {
	font-family: 'Futura';
	font-size: 26pt;
	color: #f36916;
}

.promo-desc .head h4 {
	font-family: 'OpenSans-Regular';
}

.promo-desc .head h4 span {
	font-family: 'OpenSans-Bold';
	color: #00afee;
}

.promo-desc > * {
	font-family: 'OpenSans-Regular';
	padding: 0 20px;
}

.promo-desc h3.product-disc {
	width: 75px;
	height: 75px;
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: #f36916;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 75px;
	font-family: 'Gidole';
}

.promo-desc h3.product-disc.extended {
	font-size: 16pt;
	line-height: 20px;
	padding: 17px 0;
}