.wrapper-detail {
	width: 100%;
	height: 390px;
	position: relative;
	margin-bottom: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
}

.wrapper-price {
	float: right;
	position: relative;
	width: 50%;
	height: 395px;
	background-color: #fff;
	border-left: 1px solid #ccc;
	/*margin-left: 5px;*/
	/*box-shadow: 0 0 20px rgba(0,0,0,0.15);*/
}

.image-product {
	float: left;
	height: 395px;
	width: 50%;
	background-color: #393939;
	background-repeat: no-repeat;
	/*box-shadow: 0 0 20px rgba(0,0,0,0.15);*/
}

.image-product img {
	height: 395px;
	width: 395px;
}

.price {
	height: 90px;
	width: 320px;
	position: absolute;
	/*margin-left: 410px;*/
	margin-top: 175px;
	padding-left: 20px;
}

.price a.old-price {
	text-decoration: line-through;
	color: #95a8b9;
	font-size: 20pt;
}

.price h1 {
	color: #f36916;
	font-size: 36pt;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: -3px;
	width: add%;
	margin-left: -2px;
}

.price a.dif {
	color: #95a8b9;
	font-size: 14pt;
}

.promo-name {
	height: 90px;
	width: 395px;
	position: absolute;
}

.promo-name h1 {
	color: #0e3b50;
	padding: 20px 20px 10px 20px;
	line-height: 36px;
	font-family: Futura;
	font-size: 36px;
	margin-top: 10px;
}

.promo-name h3 {
	font-size: 11pt;
	font-family: 'OpenSans-Regular';
	padding-left: 20px;
}
.promo-name h3 a {
	font-family: 'OpenSans-Bold';
	color: #f36916;
}

.share {
	/*height: 60px;*/
	width: 100%;
	padding: 10px 20px 10px;
	position: absolute;
	/*margin-left: 390px;*/
	margin-top: 305px;
	background-color: #eee;
	height: 90px;
	font-size: 11pt;
	font-family: 'OpenSans-Regular';
}

.share span {
	font-family: 'OpenSans-Bold';
	color: #f68121;
}

.share .sharer {
	position: absolute;
	left: 10px;
	bottom: 10px;
	height: 50px;
	text-align: left;
	padding: 10px;
	width: 200px;
	line-height: 30px;
}
.share .sharer a {
	display: inline-block;
	height: 30px;
	color: #fff;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
.share .sharer a i.fa {
	display: inline-block;
	margin-right: 5px; 
}
.share .sharer a.fb-share {
	background-color: #3b5998;
}
.share .sharer a.tw-share {
	background-color: #55acee;
}

.description {
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	font-family: 'OpenSans-Regular';
	font-size: 11pt;
	text-align: left;
	color: #393939;
	margin-bottom: 40px;
}

.description h1 {
	position: relative;
	z-index: 2;
	background-size: cover;
	background-position: right;
	color: #fff;
	background-color: #00afee;
	width: 190px;
	font-size: 18pt;
	padding: 0 15px;
	line-height: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	font-family: 'Futura';
	margin-bottom: 20px;
}

.description h1:after {
	position: absolute;
	content: '';
	right: -40px;
	top: 0;
	width: 0;
	height: 0;
	border-width: 40px 40px 0 0;
	border-color: #00afee transparent;
	border-style: solid;
}

.description p {
	font-size: 16px;
	margin-bottom: 10px;
	font-size: 11pt;
}

.map-wrapper {
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	-webkit-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}
.map-wrapper:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.map {
	height: 240px;
	background-color: #ccc;
}
.address {
	background-color: #fff;
}
.address-name {
	height: 128px;
	width: 100%;
	position: relative;
}
.address-name h3 {
	font-size: 24pt;
	font-family: 'Futura';
	color: #f68121;
	left: 15px;
	position: absolute;
	bottom: 15px;
}
.logo-wrapper {
	height: 128px;
	width: 196px;
	padding: 15px 5px;
	float: right;
}
.logo-wrapper img {
	float: right;
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.address-description h5 {
	padding: 20px;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	background-color: #eee;
	color: #999;
}

.wrapper-promo {
	height: 290px;
	width: 100%;
	background-color: #fff;
	margin-bottom: 40px;
}

.image-promo {
	height: 290px;
	width: 290px;
	background-color: #393939;
	position: absolute;
}

.image-promo img {
	height: 290px;
	width: 290px;
}

.wrapper-other-promo {
	padding-left: 310px;
	padding-top: 18px;
}

.other-promo {
	margin-top: 18px;
	height: 190px;
	width: 190px;
	background-color: #393939;/*
	background-image: url(../../assets/images/product/merah.jpg);*/
	background-size: 100%;
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #ccc;
}

.other-promo:hover {
	border: 1px solid #00afee;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.other-promo img {
	height: 188px;
	width: 188px;
}

.other-discount {
	position: absolute;
	background-color: #f36916;
	color: #fff;
	height: 25px;
	width: 48px;
	line-height: 25px;
	text-align: center;
	margin-top: 138px;
}

/*.wrapper-product {
	width: 100%;
	margin-top: 40px;
}

.other-product {
	width: 100%;
	display: inline-block;
}

.other-product img {
	width: 290px;
}

.description-other-product {
	width: 290px;
	background-color: #d6d6d6;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.product-name {
	padding: 15px;
	font-family: 'Futura';
	color: #00afee;
	font-size: 15pt;
	line-height: 20px;
}
.product-desc {
	width: 290px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'OpenSans-Regular';
	color: #393939;
	font-size: 10pt;
	text-align: justify;
}

.product-detail {
	margin-top: 10px;
	height: 70px;
	border-top: 1px solid #e3e3e3;
}

.store-logo {
	width: 150px;
	float: left;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	line-height: 60px;
	padding: 5px 0 5px 10px;
	text-align: center;
}
.store-logo img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.product-price {
	width: 100px;
	float: right;
	height: 100%;
	padding: 15px 10px 15px 0;
}
.old-price {
	color: #efefef;
	text-decoration: line-through;
	text-align: right;
	font-size: 11pt;
	font-family: 'OpenSans-Bold';
	line-height: 20px;
}
.new-price {
	line-height: 20px;
	color: #f68121;
	font-family: 'OpenSans-Bold';
	font-size: 16pt;
	text-align: right;
}*/



.result-bar {
	width: 100%;
	height: 50px;
	background-color: #00afee;
	margin-bottom: 10px;
	color: #fff;
	line-height: 50px;
	padding-left: 20px;
	background-size: cover;
	position: relative;
}
.sort-by {
	position: absolute;
	right: 40px;
	top: 0;
}
.sort-by h4 {
	display: inline-block;
	margin-right: 5px;
}
.sort-by select {
	display: inline-block;
	width: 140px;
	height: 30px;
	border: 0;
	background-color: #008abc;
	cursor: pointer;
	padding: 0 5px;
	outline: 0;
	/*-webkit-appearance: none;*/
    -moz-appearance: none;
    appearance: none;
}

.sort-by select option {
	background-color: #fff;
	color: #393939;
}
.display-selector {
	position: absolute;
	right: 10px;
	width: 130px;
	top: 0;
	text-align: right;
}
.display-selector input {
	display: none;
}
.display-selector label {
	display: inline-block;
	line-height: 30px;
	padding: 0 10px;
	cursor: pointer;
}
.display-selector input:checked + label {
	background-color: #008abc;
}
.result-gallery {
	width: 100%;
	overflow-y: auto;
}

.product {
	width: 100%;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	-webkit-transition: border 0.2s;
	-o-transition: border 0.2s;
	transition: border 0.2s;
	position: relative;
	float: left;
	height: 425px;
}
.product:hover {
	border: 1px solid #00afee;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.list .product {
	width: 100%;
}
.product-image {
	position: relative;
}
.list .product-image {
	width: 290px;
	height: 290px;
	float: left;
	margin-right: 20px;
}
.product-image img {
	width: 290px;
	height: 290px;
}
.product-disc {
	background-color: #f36916;
	color: #fff;
	font-family: 'Gidole';
	position: absolute;
	bottom: 20px;
	height: 70px;
	line-height: 70px;
	padding: 0 10px;
	font-size: 24pt;
	width: 100px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
}

.product-disc.extended {
	font-size: 20pt;
	line-height: 25px;
	padding-top: 10px;
	padding-left: 14px;
}

.list .product-disc {
	top: 15px;
	left: 260px;
	bottom: auto;
}
.product-name {
	padding: 5px 10px;
	font-family: 'Futura';
	color: #0e3b50;
	font-size: 16pt;
	line-height: 40px;
	height: 53px;
}
.list .product-name {
	margin-top: 55px;
	font-size: 20pt;
	width: 800px;
	margin-bottom: 10px;
}
.product-desc {
	padding: 10px;
	font-family: 'OpenSans-Regular';
	color: #393939;
	font-size: 10pt;
	display: none;
}
.list .product-desc {
	display: block;
	width: 760px;
}
.product-detail {
	height: 79px;
	background-color: #eee;
}
.list .product-detail {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	height: 100%;
}
.store-logo {
	width: 50%;
	float: left;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	line-height: 64px;
	padding: 5px 0px 5px 5px;
	text-align: center;
}
.store-logo img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.list .store-logo {
	line-height: normal;
	padding: 10px 20px 20px;
	display: block;
	width: 100%;
	height: 110px;
	float: none;
	position: absolute;
	bottom: 0;
}
.product-price {
	width: 50%;
	float: right;
	height: 100%;
	padding: 5px 10px 0px 0px;
}
.product-price span {
	display: none;
}
.list .product-price span {
	display: inline;
}
.list .product-price {
	width: 100%;
	padding-right: 20px;
	float: none;
}
.old-price {
	color: #999;
	text-decoration: line-through;
	text-align: right;
	font-size: 11pt;
	font-family: 'OpenSans-Regular';
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: -10px;
}
.list .old-price {
	font-size: 14pt;
	line-height: 25px;
	line-height: 18px;
}
.new-price {
	line-height: 40px;
	width: 100%;
	padding: 0;
	color: #f36916;
	font-family: 'Gidole';
	font-size: 16pt;
	font-weight: bold;
	text-align: right;
}

.list .new-price {
	font-size: 24pt;
	line-height: 30px;
	font-family: 'SourceSansPro-Light';
	margin-right: -2px;
}
.hemat {
	text-align: right;
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	color: #999;
	margin-top: 10px;
	display: none;
}
.list .hemat {
	display: block;
}