.slider {
	width: 100%;
	height: 340px;
	background-color: #fff;
}
.search {
	height: 300px;
	background-color: #fff;
}
.search-form {
	width: 100%;
	height: 300px;
	background-color: #d6d6d6;
	padding: 10px;
	color: #fff;
}

.search-form h1 {
	color: #fff;
}

.search-form input[type='text'] {
	height: 30px;
	width: 170px;
	margin-top: 10px;
}

.search-form input[type='submit'] {
	height: 40px;
	width: 190px;
	background-color: #00afee;
	color: #fff;
	border: none;
	/*position: absolute;*/
	margin-left: -10px;
	/*margin-top: 20px;*/
	margin-bottom: -10px;
	font-size: 20px;
}

.search-form input[type='range'] {
	margin-top: 10px;
	margin-bottom: 30px;
}

.search-form table {
	margin-top: 20px;
	margin-bottom: 20px;
}

.search-form input[type='checkbox'] {
	margin-left: 20px;
}
.category {
	width: 1199px;
	margin: 40px auto 0;
}
.category-icon {
	width: 40px;
	height: 40px;
	float: left;
	background-color: #f36916;
	padding: 5px;
	background-size: cover;
}
.category-icon img {
	max-width: 100%;
	min-height: 100%;
}
.category-head {
	height: 40px;
	border-bottom: 5px solid #00afee;
	margin-bottom: 2px;
	position: relative;
	width: 1156px;
	float: left;
	margin-left: 2px;
}
.category-label {
	background-color: #00afee;
	height: 40px;
	position: absolute;
	z-index: 2;
	background-size: cover;
}
.category-label:after {
	position: absolute;
	content: '';
	right: -30px;
	top: 0;
	width: 0;
	height: 0;
	border-width: 0 30px 40px 0;
	border-color: #00afee transparent;
	border-style: solid;
}
.category-label h4 {
	font-family: 'SourceSansPro-Light';
	color: #fff;
	line-height: 40px;
	font-size: 20pt;
	margin-left: 10px;
}
.category-sort {
	position: absolute;
	right: 0;
	bottom: 5px;
	display: inline-block;
	line-height: 30px;
	padding-right: 1px;
}
.category-sort a {
	/*background-color: #fff;*/
	font-family: 'OpenSans-Regular';
	font-size: 10pt;
	border-radius: 15px;
	color: #393939;
	display: inline-block;
	margin-left: 0px;
	padding: 0 10px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.category-sort a:hover {
	color: #fff;
	background-color: #f36916;
}
.category-display {
	height: 798px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.store-display {
	width: 198px;
	float: left;
	margin-right: 2px;
}
.store-logo {
	width: 198px;
	height: 98px;
	background-size: contain;
	margin-bottom: 2px;
	background-position: center center;
	background-color: #fff;
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.store-logo:hover {
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.store-logo a {
	display: block;
	width: 100%;
	height: 100%;
}
.store-logo:last-child {
	margin-bottom: 0;
}
.product-display {
	width: 999px;
	float: right;
}
.product-display > a {
	display: block;
	position: relative;
}
.product {
	width: 198px;
	height: 198px;
	margin-bottom: 2px;
	background-size: cover;
	background-position: left top;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	border: 2px solid #ccc;
	-webkit-transition: border 0.2s;
	-o-transition: border 0.2s;
	transition: border 0.2s;
}
.product:hover {
	border: 2px solid #f68121;
}
.product,
.product * {
	cursor: pointer;
}
.product.lvl-2 {
	width: 398px;
	height: 198px;
}
.product.lvl-3 {
	width: 398px;
	height: 398px;
}
.product > a.anchor {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;;
	z-index: 5;
}
.badge {
	background-color: #f36916;
	background-size: cover;
	color: #fff;
	height: 100px;
	width: 70px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	border-bottom-right-radius: 10px; 
	/*-webkit-transform: translateX(-70px);
	-ms-transform: translateX(-70px);
	-o-transform: translateX(-70px);
	transform: translateX(-70px);*/
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.product:hover .badge {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.badge h3 {
	font-family: 'SourceSansPro-Light';
	width: 100%;
	text-transform: capitalize;
	padding: 0 5px 0 10px;
	position: absolute;
	bottom: 0;
	font-size: 16pt;
	line-height: 20px;
	margin-bottom: 10px;
}
.overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #fff;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.lvl-0 .overlay,
.lvl-1 .overlay {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 33%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(33%,rgba(255,255,255,0.6)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 33%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 33%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 33%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 33%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.product:hover .overlay {
	opacity: 1;
}
.overlay > a.anchor {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.small-info {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 10px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	opacity: 0;
}
.product:hover .small-info {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
.small-info h3 {
	color: #0e3b50;
	font-family: 'Futura';
	font-size: 14pt;
	line-height: 22px;
	margin-bottom: 5px;
}
.lvl-2 .small-info,
.lvl-3 .small-info {
	display: none;
}
.top-info {
	position: absolute;
	right: 0;
	height: 70px;
	width: 128px;
	padding: 10px 15px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	-o-transform: translateY(40px);
	transform: translateY(40px);
	opacity: 0;
}
.product:hover .top-info {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
.lvl-2 .top-info,
.lvl-3 .top-info {
	width: 329px;
	height: 70px;
}
.top-info p {
	color: #393939;
	font-family: 'ClearSans-Regular';
	font-size: 10pt;
	padding-top: 7px;
}
.top-info h3 {
	color: #0e3b50;
	font-family: 'Futura';
	font-size: 17pt;
	line-height: 25px;
	display: none;
	margin-bottom: 10px;
}
.top-info h4 {
	display: none;
}
.lvl-2 .top-info h3,
.lvl-3 .top-info h3,
.lvl-2 .top-info h4,
.lvl-3 .top-info h4 {
	display: block;
}
.top-info h4,
.small-info h4 {
	font-family: 'ClearSans-Regular';
	font-size: 10pt;
}
.top-info h4 span,
.small-info h4 span {
	color: #f36916;
	font-family: 'ClearSans-Bold';
}
.bottom-info {
	position: absolute;
	bottom: 0;
	padding: 15px;
	display: none;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	opacity: 0;
}
.product:hover .bottom-info {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
.lvl-2 .bottom-info,
.lvl-3 .bottom-info {
	display: block;
}
.bottom-info p {
	font-family: 'ClearSans-Regular';
	font-size: 10pt;
}

